[submodule "projects/GKCommunicator"]
	path = projects/GKCommunicator
	url = https://github.com/hazzik/GKCommunicator.git
[submodule "projects/GKGenetix"]
	path = projects/GKGenetix
	url = https://github.com/hazzik/GKGenetix.git
