[submodule "projects/GKCommunicator"]
	path = projects/GKCommunicator
	url = https://github.com/hazzik/GKCommunicator.git
	branch = mac
[submodule "projects/GKGenetix"]
	path = projects/GKGenetix
	url = https://github.com/hazzik/GKGenetix.git
	branch = mac
